In [2]:
# Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np

In [21]:
df=pd.read_csv("spacex_web_scraped_2024.csv")
df.head(10)

,Payload,Orbit,Customer,Flight_No.,Date,Time,Version_Booster,Launch_site,Payload_mass,Launch_outcome,Booster_landing
0,Starlink,LEO,SpaceX,78,7 January 2020,02:19:21,F9 B5,CCSFS,"15,600 kg",Success\n,Success
1,Crew Dragon in-flight abort test,Sub-orbital,NASA,79,19 January 2020,15:30,F9 B5,KSC,"12,050 kg",Success\n,No attempt\n
2,Starlink,LEO,SpaceX,80,29 January 2020,14:07,F9 B5,CCSFS,"15,600 kg",Success\n,Success
3,Starlink,LEO,SpaceX,81,17 February 2020,15:05,F9 B5,CCSFS,"15,600 kg",Success\n,Failure
4,SpaceX CRS-20,LEO,NASA,82,7 March 2020,04:50,F9 B5,CCSFS,"1,977 kg",Success\n,Success
5,Starlink,LEO,SpaceX,83,18 March 2020,12:16,F9 B5,KSC,"15,600 kg",Success\n,Failure
6,Starlink,LEO,SpaceX,84,22 April 2020,19:30,F9 B5,KSC,"15,600 kg",Success\n,Success
7,Crew Dragon Demo-2,LEO,NASA,85,30 May 2020,19:22,F9 B5B1058.1,KSC,"12,530 kg",Success\n,Success
8,Starlink,LEO,SpaceX,86,4 June 2020,01:25,F9 B5,CCSFS,"15,600 kg",Success\n,Success
9,Starlink,LEO,SpaceX,87,13 June 2020,09:21,F9 B5,CCSFS,"15,410 kg",Success\n,Success

In [22]:
df.shape

(215, 11)

In [23]:
# let calculat the percentage of missing values in each column of df
df.isnull().sum()/df.count()*100

Payload            3.864734
Orbit              0.467290
Customer           0.000000
Flight_No.         0.000000
Date               0.000000
Time               0.000000
Version_Booster    0.000000
Launch_site        0.000000
Payload_mass       0.000000
Launch_outcome     0.000000
Booster_landing    0.000000
dtype: float64

In [24]:
df.dtypes

Payload            object
Orbit              object
Customer           object
Flight_No.          int64
Date               object
Time               object
Version_Booster    object
Launch_site        object
Payload_mass       object
Launch_outcome     object
Booster_landing    object
dtype: object

#### Let's see which categorical variables can be converted into numerical variables

In [25]:
# Apply value_counts() on column Launch_site
df.Launch_site.value_counts()

Launch_site
CCSFS    118
KSC       49
VSFB      48
Name: count, dtype: int64

In [26]:
# Apply value_counts on Orbit column
df.Orbit.value_counts()

Orbit
LEO                               159
GTO                                20
SSO                                20
MEO                                 7
Polar                               3
Ballistic lunar transfer (BLT)      2
Sub-orbital                         1
Heliocentric                        1
Retrograde                          1
Name: count, dtype: int64

In [27]:
# Apply value_counts on Customer column
df.Customer.value_counts()

Customer
SpaceX                    181
NASA                       17
Various                     8
U.S. Space Force            3
NRO                         3
Turksat                     2
Republic of Korea Army      1
Name: count, dtype: int64

In [28]:
# landing_outcomes = values on Outcome column
landing_outcomes = df.Booster_landing.value_counts()
landing_outcomes

Booster_landing
Success         209
No attempt\n      3
Failure           3
Name: count, dtype: int64

In [29]:
#  Print the indices and corresponding keys of the landing_outcomes dictionary.
for i, Booster_landing in enumerate(landing_outcomes.keys()):
    print(i, Booster_landing)

0 Success
1 No attempt

2 Failure

In [30]:
bad_outcomes=set(landing_outcomes.keys()[[1,2]])
bad_outcomes

{'Failure', 'No attempt\n'}

In [31]:
#Let's convert the target categorical variable into a binary format.
# landing_class = 0 if bad_outcome
# landing_class = 1 otherwise

landing_class = []
for Booster_landing in df['Booster_landing']:
    if Booster_landing in bad_outcomes:
        landing_class.append(0)
    else:
        landing_class.append(1)

In [32]:
df['Class']=landing_class
df[['Class']].head(10)

   Class
0      1
1      0
2      1
3      0
4      1
5      0
6      1
7      1
8      1
9      1

In [33]:
df.head(10)

,Payload,Orbit,Customer,Flight_No.,Date,Time,Version_Booster,Launch_site,Payload_mass,Launch_outcome,Booster_landing,Class
0,Starlink,LEO,SpaceX,78,7 January 2020,02:19:21,F9 B5,CCSFS,"15,600 kg",Success\n,Success,1
1,Crew Dragon in-flight abort test,Sub-orbital,NASA,79,19 January 2020,15:30,F9 B5,KSC,"12,050 kg",Success\n,No attempt\n,0
2,Starlink,LEO,SpaceX,80,29 January 2020,14:07,F9 B5,CCSFS,"15,600 kg",Success\n,Success,1
3,Starlink,LEO,SpaceX,81,17 February 2020,15:05,F9 B5,CCSFS,"15,600 kg",Success\n,Failure,0
4,SpaceX CRS-20,LEO,NASA,82,7 March 2020,04:50,F9 B5,CCSFS,"1,977 kg",Success\n,Success,1
5,Starlink,LEO,SpaceX,83,18 March 2020,12:16,F9 B5,KSC,"15,600 kg",Success\n,Failure,0
6,Starlink,LEO,SpaceX,84,22 April 2020,19:30,F9 B5,KSC,"15,600 kg",Success\n,Success,1
7,Crew Dragon Demo-2,LEO,NASA,85,30 May 2020,19:22,F9 B5B1058.1,KSC,"12,530 kg",Success\n,Success,1
8,Starlink,LEO,SpaceX,86,4 June 2020,01:25,F9 B5,CCSFS,"15,600 kg",Success\n,Success,1
9,Starlink,LEO,SpaceX,87,13 June 2020,09:21,F9 B5,CCSFS,"15,410 kg",Success\n,Success,1

In [34]:
df["Class"].mean()

0.9720930232558139

In [35]:
df.to_csv("spacex_web_scraped_2024.csv", index=False)

In [36]:
df.to_csv("D:/Download/spacex_web_scraped_2024.csv", index=False)